<template>
  <div class="fixed w-full shadow-md rounded-b-xl bg-white z-20">
    <div class="h-1 bg-gradient-to-r from-primary to-info" />
    <div class="flex justify-end items-center py-6 pr-5">
      <a class="text-primary font-medium" href="#">Login</a>
    </div>
  </div>
</template>
