<template>
  <div class="fixed bottom-0 w-full shadow-md rounded-t-xl bg-white z-20 p-3.5 shadow-md border-t border-dove-gray-75">
    <button class="w-full py-3.5 rounded-2xl bg-gradient-to-r from-primary to-info text-riptide-50">
      Kostenlos Registrieren
    </button>
  </div>
</template>
